---
layout: join
---

<h3 class="title">Купить все уроки категории <nobr>«{{ page.title }}»</nobr> <nobr>за 3990 рублей</nobr></h3>
<p>Выбери способ оплаты и нажми на кнопку «Оплатить»</p>

<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=41001469914505&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets={{ page.title | url_encode }}&targets-hint=&default-sum=3990&button-text=01&fio=on&mail=on&phone=on&successURL=http%3A%2F%2Fclub.nickvorobiov.com%2Fpaid-cat%2F" width="450" height="198"></iframe>
