---
layout: base
---

<div class="root-layout">
  <header class="header">
    <div class="container">
      <div class="header__logo">
        <a href="/" class="logo" title="">
          Николай Воробьёв
        </a>
      </div>
      <nav class="header__nav">
        <ul class="menu-primary">
          <li class="menu-primary__item">
            <a href="#what" class="js-scr" title="">Программа</a>
          </li>
          <li class="menu-primary__item">
            <a href="#about" class="js-scr" title="">О тренере</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main" role="main">
    <section class="section s-listbuilder-main">
      <div class="container">
        <div class="s-listbuilder-main__inner">
          <h1 class="s-listbuilder-main__title">
            {{ page.title }}
          </h1>
          <p class="s-listbuilder-main__introtext">
            {{ page.introtext }}
          </p>
          <div class="row">
            <div class="col-xs-9">
              <a class="btn btn-primary" href="#join">
                Получить вебинар
              </a>
            </div>
          </div>
        </div>
        <span class="s-listbuilder-main__sign">Николай Воробьёв</span>
      </div>
    </section>

    <section class="section s-what" id="what">
      <div class="container">
        <div class="row">
        {% if page.gains %}
          <div class="col-xs-6">
            <h2 class="title">Что даёт</h2>
            {% for gain in page.gains %}
              {{ gain }}<br/>
            {% endfor %}
          </div>
        {% endif %}
        {% if page.program %}
          <div class="col-xs-6">
            <h2 class="title">Программа</h2>
            {% for topic in page.program %}
              {{ topic }}<br/>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </section>

    <section class="section s-anchor" id="join">
      <div class="container">
        <h3 class="title">Введи адрес своей страницы ВКонтакте или в Фейсбуке</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <div class="form">
              <form method="post" action="http://love.prorealnost.com/order.php">
                <ul class="form__wrap row">
                  <li class="form__item col-sm-4">
                    <input type="text" class="input" name="vk" placeholder="https://vk.com/id***">
                  </li>
                  <li class="form__item col-sm-4">
                    <button class="btn btn-primary">
                      Получить вебинар
                    </button>
                  </li>
                </ul>
                <input type="hidden" name="traffic_source" />
                <input type="hidden" name="trello-list-id" value="56c58a45cef0c302e3ed379a" />
                <input type="hidden" name="redirect" value="{{ site.url }}{{ page.redirect }}" />
                <input type="hidden" name="form" value="anchor" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include about.html %}
  </main>
  {% include footer.html %}
</div>
