---
layout: base
---

<div class="root-layout">
  {% include header.html %}
  <main class="main" role="main">
    <section class="section s-listbuilder-main">
      <div class="container">
        <div class="s-listbuilder-main__inner">
          <h1 class="s-listbuilder-main__title">
            Бесплатный онлайн мастер-класс
            <br/>
            <em><small class="s-listbuilder-main__left-quote">«</small>{{ page.title }}<small>»</small></em>
          </h1>
          {% if page.introtext %}
            <p class="s-listbuilder-main__introtext">
              {{ page.introtext }}
            </p>
          {% endif %}
          <div class="row">
            <div class="col-xs-9">
              <div class="form">
                <form method="post" action="http://love.prorealnost.com/order.php">
                  <ul class="form__wrap row">
                      <li class="form__item col-xs-4">
                        <input type="text" class="input" name="name" placeholder="ivan@ivanov.com">
                      </li>
                      <li class="form__item col-xs-4">
                        <button class="btn btn-primary">
                          Получить доступ
                        </button>
                      </li>
                  </ul>
                  <input type="hidden" name="trello-list-id" value="578362e2fc28fa1a77ae9318" />
                  <input type="hidden" name="mailchimp-product-interest-id" value="eb6470d55a" />
                  <input type="hidden" name="redirect" value="{{ site.url }}{{ page.redirect }}" />
                  <input type="hidden" name="form" value="header" />
                </form>
              </div>
            </div>
          </div>
        </div>
        <span class="s-listbuilder-main__sign">Спикер — Николай Воробьёв</span>
      </div>
    </section>

    {% if page.gains %}
      <section class="section section--no-bottom-padding">
        <div class="container">
          <h2 class="title">Мастер-класс поможет тебе</h2>
          <p class="introtext">
          {% for gain in page.gains %}
            {{ gain }}
            <br/>
          {% endfor %}
          </p>
        </div>
      </section>
    {% endif %}

    <section class="section s-step">
      <div class="container">
        <h2 class="title">Программа</h2>
        <div class="row step">
          {% for topic in page.program %}
            <div class="col-xs-4 step__item">
              <h5>{{ topic }}</h5>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include about.html %}

    <section class="section s-anchor">
      <div class="container">
        <h3 class="title">Введи свой емейл и получи доступ к мастер-классу</h3>
        <div class="row">
          <div class="col-xs-9">
            <div class="form">
              <form method="post" action="http://love.prorealnost.com/order.php">
                <ul class="form__wrap row">
                    <li class="form__item col-xs-4">
                      <input type="text" class="input" name="name" placeholder="ivan@ivanov.com">
                    </li>
                    <li class="form__item col-xs-4">
                      <button class="btn btn-primary">
                        Получить доступ
                      </button>
                    </li>
                </ul>
                <input type="hidden" name="trello-list-id" value="578362e2fc28fa1a77ae9318" />
                <input type="hidden" name="mailchimp-product-interest-id" value="eb6470d55a" />
                <input type="hidden" name="redirect" value="{{ site.url }}{{ page.redirect }}" />
                <input type="hidden" name="form" value="anchor" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include footer.html %}
</div>
